# Lists

In this section you will learn how to use lists in Python.

You will learn about:
- Creating and indexing elements from a list
- Creating slices of elements
- Carrying out calculations with list elements
- Creating a list of lists
- Using chained indexing to select elements from a list of lists

### Examples from the lists introduction

In [15]:
# Creating a list
shares = ['Apple', 50, 130.84, 'Google', 12, 2116.82]
print(shares)

['Apple', 50, 130.84, 'Google', 12, 2116.82]

In [16]:
# Indexing single elements
print(shares[0])
print(shares[3])

Apple
Google

In [17]:
# Slicing all values for Apple
print(shares[:3])

['Apple', 50, 130.84]

In [18]:
# Calculations with list elements
shares_sum = shares[1]*shares[2] + shares[-1]*shares[-2]
print(shares_sum)

31943.840000000004

In [19]:
# creating a list of lists
row_1 = ['Apple', 50, 130.84]
row_2 = ['Google', 12, 2116.82]
row_3 = ['MSFT', 20, 211.12]

# How can you combine the the three row lists into a list of lists?
shares = [row_1, row_2, row_3]
print(shares)

[['Apple', 50, 130.84], ['Google', 12, 2116.82], ['MSFT', 20, 211.12]]

In [20]:
# chained indexing from a list of lists
# selecting the first element from the first list
print(shares[0][0])

Apple

### Task 1: Creating a list

1. Use the variables to create a list named row_1 with the data for Facebook.

In [2]:
company = 'Facebook'
med_salary = 116800
women = 0.32
satisf = 0.96
high_stress = 0.44

In [3]:
row_1 = [company, med_salary, women, satisf, high_stress]

2. Create another list named row_2 for Microsoft, using the values 

```python
'Microsoft', 102500, 0.27, 0.72, 0.58
```
3. Print both lists

In [4]:
row_2 = ['Microsoft', 102500, 0.27, 0.72, 0.58]

print(row_1)
print(row_2)

['Facebook', 116800, 0.32, 0.96, 0.44]
['Microsoft', 102500, 0.27, 0.72, 0.58]

### Task 2: Indexing

1. Run the code cell to create the third list for Amazon.
2. Create variables for the percentage of employess reporting high stress (last value in list) for each company. 
3. Calculate the average percentage of the three values.
4. Print the mean stress

The result should be 0.56

In [5]:
# run this cell
row_3 = ['Amazon', 81900, 0.26, 0.69, 0.66]

In [6]:
# Create variables for percentage of employees reporting high stress for each company (last value in list)
stress_fb = row_1[-1]
stress_ms = row_2[-1]
stress_amzn = row_3[-1]

# Calculate the average percentage of employess reporting high stress
mean_stress = (stress_fb + stress_ms + stress_amzn)/3
print(mean_stress)

0.56

### Task 3: Creating a slice

1. Create a new variable for each company of only the percentage values.
2. Print the three slices.

In [8]:
row_1_perc = row_1[2:]
row_2_perc = row_2[2:]
row_3_perc = row_3[2:]

print(row_1_perc)
print(row_2_perc)
print(row_3_perc)

[0.32, 0.96, 0.44]
[0.27, 0.72, 0.58]
[0.26, 0.69, 0.66]

### Task 4: Subsetting a list

#### Example how to use sum() and len()

See the example below on how to use the sum() and len() functions to calculate the mean of a numerical list.

In [9]:
big_tech_growth = [-0.023, 0.2044, 0.1835, 0.1395, 0.2688]
avg_growth = sum(big_tech_growth)/len(big_tech_growth)
print(avg_growth)

0.15463999999999997

1. Create a new list with only the salary data. Do this by indexing from the different lists row_1, row_2, row_3 and not by entering the actual values by hand.

2. Calculate the average salary using the `sum()` and `len()` functions.

The result should be 66233.42333333334

In [10]:
salaries = [row_1[1], row_2[1], row_3[1]]
mean_salary = sum(salaries)/len(salaries)
print(mean_salary)

66233.42333333334

### Task 5: Create a list of lists

1. Run the code cell to create the lists for Google and Apple
2. Combine the the five rows in the list big_tech
3. Print the list of lists.

In [11]:
row_4 = ['Google', 106900, 0.3, 0.89, 0.53]
row_5 = ['Apple', 91300, 0.31, 0.73, 0.66]

In [12]:
# combine all rows in the list big_tech
big_tech = [row_1, row_2, row_3, row_4, row_5]
print(big_tech)

[['Facebook', 116800, 0.32, 0.96, 0.44], ['Microsoft', 102500, 0.27, 0.72, 0.58], ['Amazon', 81900, 0.26, 0.69, 0.66], ['Google', 106900, 0.3, 0.89, 0.53], ['Apple', 91300, 0.31, 0.73, 0.66]]

### Task 6: Subsetting a list of lists

1. Overwrite the salaries list by indexing the values from the big_tech list.
2. Calculate the average salary using the `sum()` and `len()` functions.
3. Print the mean salary.

The result should be 99880.0

In [14]:
salaries = [big_tech[0][1], big_tech[1][1], big_tech[2][1], big_tech[3][1], big_tech[4][1]]
mean_salary = sum(salaries)/len(salaries)
print(mean_salary)

99880.0