# For loops

In this section you will learn how to use for loops in Python.

You will learn about:
- Using for loops with a list to select each element
- Using for loops with a list of lists to select each list inside the list of lists
- Calculating new values using a for loop
- Adding new values to lists using a for loop

### Examples from the intro

#### For loop with a list

In [2]:
big_tech = ['FB', 'GOOG', 'MSFT', 'AAPL', 'AMZN']

for comp in big_tech:
    print(comp)

print('done')

FB
GOOG
MSFT
AAPL
AMZN
done

#### For loop with a list of lists

In [2]:
shares = [['Apple', 50, 130.84], 
          ['Google', 12, 2116.82], 
          ['MS', 20, 211.12]]

companies = []

for row in shares:
    companies.append(row[0])    

print(companies)

['Apple', 'Google', 'MS']

### Task 1: Write a for loop to print each element from a list

Below you got 5 lists with user rating data from the app store. Each list is for a different app. Each list has data on the name of the app, costs, currency, number of ratings and the average rating.

Combine all into the list of lists **app_data_sets** and print each list using a for loop.

In [15]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

In [3]:
app_data_set =

In [16]:
app_data_set = [row_1, row_2, row_3, row_4, row_5]
for each_list in app_data_set:
    print(each_list)

['Facebook', 0.0, 'USD', 2974676, 3.5]
['Instagram', 0.0, 'USD', 2161558, 4.5]
['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
['Temple Run', 0.0, 'USD', 1724546, 4.5]
['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

### Task 2: Write a for loop to calculate the average rating of the five apps

Write a for loop to calculate the average rating across the five apps.

In [6]:
rating_sum = 0
for row in app_data_set:
    rating = row[-1]
    rating_sum = rating_sum + rating
    
avg_rating = rating_sum / len(app_data_set)
print(avg_rating)

4.2

<details>
  <summary>Click here for a hint</summary>
  You will first have to add up the ratings from each list with a for loop and then calculate the average rating using the summed up ratings.
</details>

<details>
  <summary>Click here for another hint</summary>
    You can use the len() function to get the number of elements in a list
    
    my_list = [1,2,3,4]
    len(my_list)
    
    4
    
 
</details>

### Task 3: Write a for loop to append the genre data to each list

Sometimes, it makes more sense to use integers to select elements from a list with a for loop.

Look at the example below on how to use a list with integers to select elements from a list.

In [11]:
my_list = ['Apple', 'Facebook', 'Google', 'Microsoft', 'Amazon']

seq = [0,1,2,3,4]

for i in seq:
    print(my_list[i])

Apple
Facebook
Google
Microsoft
Amazon

We can also create a sequence with integers automatically with the range function. This way we don't have to type it out. Look at the example to create a range with the integers 0 - 4.

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

The integers can directly be used to print elements from our list.

In [8]:
for i in range(5):
    print(my_list[i])

Apple
Facebook
Google
Microsoft
Amazon

We can even use the `len()` function inside the `range()` function to get the number of elements we need automatically. This is quite useful when dealing with longer lists.

In [10]:
for i in range(len(my_list)):
    print(my_list[i])

Apple
Facebook
Google
Microsoft
Amazon

We have added a list with the genre of each app. Use the a for loop with the range() function to add the values from the genre list to each row in the app_data_set list.

In [ ]:
genre = ['social networking', 'photo & video', 'game', 'game', 'music']

In [17]:
for i in range(len(genre)):
    app_data_set[i].append(genre[i])

app_data_set

[['Facebook', 0.0, 'USD', 2974676, 3.5, 'social networking'],
 ['Instagram', 0.0, 'USD', 2161558, 4.5, 'photo & video'],
 ['Clash of Clans', 0.0, 'USD', 2130805, 4.5, 'game'],
 ['Temple Run', 0.0, 'USD', 1724546, 4.5, 'game'],
 ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0, 'music']]